$clr-primary: #2dc071;
$clr-secondary: #23a6f0;
$clr-blue: #23a6f0;
$clr-green: #23856d;
$clr-orange: #e77c40;
$clr-dark: #252b42;
$clr-white: #ffffff;
$clr-black: #000000;
$text-primary: #252b42;
$text-secondary: #737373;
$text-muted: #bdbdbd;
